/* Position and sizing of burger button */
.bm-burger-button {
  position: relative;
  width: 36px;
  height: 30px;
  left: 20px;
  top: 8px;
}

/* Color/shape of burger icon bars */
.bm-burger-bars {
  background: #373a47;
  transition: all 0.3s;
}

/* Color/shape of burger icon bars on hover*/
.bm-burger-bars-hover {
  background: #2a78f7;
}

/* Position and sizing of clickable cross button */
.bm-cross-button {
  height: 25px;
  width: 25px;
  left: 215px;
}

/* Color/shape of close button cross */
.bm-cross {
  background: #bdc3c7;
}

/*
  Sidebar wrapper styles
  Note: Beware of modifying this element as it can break the  
  animations - you should not need to touch it in most cases
  */
.bm-menu-wrap {
  position: fixed;
  height: auto;
  width: 250px;
}
/* General sidebar styles */
.bm-menu {
  background: white;
  padding: 0.5em 1.5em 0;
  font-size: 1em;
  overflow: auto;
}

.bm-menu-list {
}

/* Morph shape necessary with bubble or elastic */
.bm-morph-shape {
  fill: white;
}

/* Wrapper for item list */
.bm-item-list {
  color: white;
}

/* Individual item */
.bm-item {
  display: block;
  color: black;
  text-decoration: none;
  padding: 0;
  border-bottom: 1px rgba(0, 0, 0, 0.1) solid;
  transition: all 0.3s;
}

.bm-item:hover {
  color: #2a78f7;
  border-bottom: 1px #2a78f7 solid;
}

.bm-item:focus,
.bm-item:active {
  outline: none;
}

/* Styling of overlay */
.bm-overlay {
  /* background: transparent !important; */
  background: rgba(0, 0, 0, 0.1) !important;
}
